@import '../variables.scss';

.newsList {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: $white;
  color: $gray-dark;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .not-found {
    margin: 0 auto;
    font-size: 35px;
    font-weight: bold;
  }
}