@import '../variables.scss';

.news {
  display: block;
  float: left;
  width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;

  a {
    text-decoration: none;
    color: $gray;
  }

  .news-header {
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
  }

  .news-image {
    overflow: hidden;

    img {
      width: 200px;
      height: auto;
    }
  }

  .news-body {
    .news-description {
      padding: 4px;
    }

    .like label{
      margin-top: 5px;
      width: 198px;
    }
  }
}