@import '../variables.scss';

.news {
  border: 1px solid $gray;
  display: block;
  float: left;
  width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;

  a {
    text-decoration: none;
    color: $gray;
  }

  .news-header {
    border-bottom: 1px solid $gray;
    font-size: 16px;
    padding: 4px;
  }

  .news-body {
    .news-description {
      padding: 4px;
    }

    .news-image {
      overflow: hidden;

      img {
        width: 200px;
        height: auto;
      }
    }
    .like label{
      width: 198px;
      border-bottom: none;
      margin-top: -2px;
      position: absolute;
      bottom: 0;
    }
  }
}